<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>908989765939-gmprkfkc5m00ohalnugj15hbkrhrt178.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908989765939-gmprkfkc5m00ohalnugj15hbkrhrt178</string>
	<key>API_KEY</key>
	<string>AIzaSyD8o4DGCsbZG6RQ1xJ7yQuVLY7SU30Mbuw</string>
	<key>GCM_SENDER_ID</key>
	<string>908989765939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlgrier.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-82532</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-82532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:908989765939:ios:abd8f48dd16b09d4</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-82532.firebaseio.com</string>
</dict>
</plist>